Conversions/RateTesting/aaaPolicyCopy.xml

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://exigenservices.com/ipb/policy/integration" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AAAPolicyCopyService" targetNamespace="http://exigenservices.com/ipb/policy/integration">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://exigenservices.com/ipb/policy/integration" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://exigenservices.com/ipb/policy/integration">
  <xs:element name="searchErrorType">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorCode" type="xs:string"></xs:element>
        <xs:element name="errorMessage" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchPolicyRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="request" type="tns:SearchCriteriaType"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="result" type="tns:SearchPolicyResponseType"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="copyPolicy">
    <xs:sequence>
      <xs:element minOccurs="0" name="policyNumber" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="copyPolicyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PolicyInfoType">
    <xs:sequence>
      <xs:element name="actualPremium" type="xs:decimal"></xs:element>
      <xs:element name="billingMethodCd" type="xs:string"></xs:element>
      <xs:element name="contractTerm" type="tns:TermType"></xs:element>
      <xs:element name="customerNumber" type="xs:string"></xs:element>
      <xs:element name="doNotRenewInd" type="xs:boolean"></xs:element>
      <xs:element name="inceptionDate" type="xs:date"></xs:element>
      <xs:element name="manualRenewInd" type="xs:boolean"></xs:element>
      <xs:element name="policyNumber" type="xs:string"></xs:element>
      <xs:element name="membershipNumber" type="xs:string"></xs:element>
      <xs:element name="policyStatusCd" type="xs:string"></xs:element>
      <xs:element name="producerCd" type="xs:string"></xs:element>
      <xs:element name="productCd" type="xs:string"></xs:element>
      <xs:element name="revisionNo" type="xs:int"></xs:element>
      <xs:element name="transactionDate" type="xs:date"></xs:element>
      <xs:element name="transactionEffectiveDate" type="xs:date"></xs:element>
      <xs:element name="txReason" type="xs:string"></xs:element>
      <xs:element name="txReasonText" type="xs:string"></xs:element>
      <xs:element name="txSubType" type="xs:string"></xs:element>
      <xs:element name="txType" type="xs:string"></xs:element>
      <xs:element name="underwriterCd" type="xs:string"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="insuredInfo" nillable="true" type="tns:InsuredInfoType"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TermType">
    <xs:sequence>
      <xs:element name="effective" type="xs:dateTime"></xs:element>
      <xs:element name="expiration" type="xs:dateTime"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsuredInfoType">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string"></xs:element>
      <xs:element name="lastName" type="xs:string"></xs:element>
      <xs:element name="middleName" type="xs:string"></xs:element>
      <xs:element name="address" type="tns:AddressType"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="addressLine1" type="xs:string"></xs:element>
      <xs:element name="addressLine2" type="xs:string"></xs:element>
      <xs:element name="addressLine3" type="xs:string"></xs:element>
      <xs:element name="city" type="xs:string"></xs:element>
      <xs:element name="countryCd" type="xs:string"></xs:element>
      <xs:element name="country" type="xs:string"></xs:element>
      <xs:element name="displayValue" type="xs:string"></xs:element>
      <xs:element name="postalCode" type="xs:string"></xs:element>
      <xs:element name="postalCodeFirst5" type="xs:string"></xs:element>
      <xs:element name="postalCodeLast4" type="xs:string"></xs:element>
      <xs:element name="regionCd" type="xs:string"></xs:element>
      <xs:element name="standardized" type="xs:string"></xs:element>
      <xs:element name="stateProvCd" type="xs:string"></xs:element>
      <xs:element name="streetName" type="xs:string"></xs:element>
      <xs:element name="streetNumber" type="xs:string"></xs:element>
      <xs:element name="streetType" type="xs:string"></xs:element>
      <xs:element name="unitNumber" type="xs:string"></xs:element>
      <xs:element name="usageType" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchPolicyResponseType">
    <xs:sequence>
      <xs:element name="results">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="result" nillable="true" type="tns:PolicyInfoType"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="incomplete" type="xs:boolean"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchCriteriaType">
    <xs:sequence>
      <xs:element name="membershipNumber" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="firstName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="lastName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="policyNumber" type="xs:string"></xs:element>
      <xs:element name="address" type="tns:AddressType"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="copyPolicy" nillable="true" type="tns:copyPolicy"></xs:element>
  <xs:element name="copyPolicyResponse" nillable="true" type="tns:copyPolicyResponse"></xs:element>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://exigenservices.com/ipb/general/integration" elementFormDefault="qualified" targetNamespace="http://exigenservices.com/ipb/general/integration" version="1.0">

  <xs:complexType name="ExtendedStatusType">
    <xs:sequence>
      <xs:element name="ExtendedStatusCd" type="xs:string"></xs:element>
      <xs:element name="ExtendedStatus" type="tns:MessageStatusEnum"></xs:element>
      <xs:element minOccurs="0" name="ExtendedStatusDesc" type="xs:string"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AppliesTo" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"></xs:attribute>
    <xs:attribute name="IdRefs">
      <xs:simpleType>
        <xs:list itemType="xs:IDREF"></xs:list>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="MessageStatusType">
    <xs:sequence>
      <xs:element name="MsgStatus" type="tns:MessageStatusEnum"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ExtendedStatus" type="tns:ExtendedStatusType"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="MessageStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error"></xs:enumeration>
      <xs:enumeration value="Warning"></xs:enumeration>
      <xs:enumeration value="Info"></xs:enumeration>
      <xs:enumeration value="Success"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://exigeninsurance.com/eis/product/schema/AAA_CSA/1.0" targetNamespace="http://exigeninsurance.com/eis/product/schema/AAA_CSA/1.0" version="1.0">

  <xs:complexType name="AAACSAAutoPolicyType">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"></xs:any>
    </xs:sequence>
    <xs:attribute name="oid" type="xs:string"></xs:attribute>
    <xs:attribute name="state" type="tns:ComponentState" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="ComponentState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoChange"></xs:enumeration>
      <xs:enumeration value="Created"></xs:enumeration>
      <xs:enumeration value="Updated"></xs:enumeration>
      <xs:enumeration value="Deleted"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://exigeninsurance.com/eis/product/schema/AAA_AZ/1.0" targetNamespace="http://exigeninsurance.com/eis/product/schema/AAA_AZ/1.0" version="1.0">

  <xs:complexType name="AAACSAAutoPolicyType">
    <xs:sequence>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"></xs:any>
    </xs:sequence>
    <xs:attribute name="oid" type="xs:string"></xs:attribute>
    <xs:attribute name="state" type="tns:ComponentState" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="ComponentState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoChange"></xs:enumeration>
      <xs:enumeration value="Created"></xs:enumeration>
      <xs:enumeration value="Updated"></xs:enumeration>
      <xs:enumeration value="Deleted"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="copyPolicy">
    <wsdl:part element="tns:copyPolicy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="copyPolicyResponse">
    <wsdl:part element="tns:copyPolicyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AAAPolicyCopyPort">
    <wsdl:operation name="copyPolicy">
      <wsdl:input message="tns:copyPolicy" name="copyPolicy">
    </wsdl:input>
      <wsdl:output message="tns:copyPolicyResponse" name="copyPolicyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AAAPolicyCopyServiceSoapBinding" type="tns:AAAPolicyCopyPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="copyPolicy">
      <soap:operation soapAction="http://exigenservices.com/ipb/policy/integration/copyPolicy" style="document"></soap:operation>
      <wsdl:input name="copyPolicy">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="copyPolicyResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AAAPolicyCopyService">
    <wsdl:port binding="tns:AAAPolicyCopyServiceSoapBinding" name="AAAPolicyCopySOAP">
      <soap:address location="http://dev5aaa3was601.eqxdev.exigengroup.com:9082/aaa-admin/services/aaaPolicyCopy"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>